@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
}
*::selection {
  @apply bg-[#4c2339];
}

body {
  @apply overflow-x-hidden;
}

.container-xxxl {
  @apply max-w-[1776px] mx-auto;
}

.banner {
  position: relative;
  background-image: linear-gradient(rgba(9, 13, 23, 0.6), rgba(9, 13, 23, 0.6)),
    url("/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
