@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-[#4c2339];
}

body {
  @apply overflow-x-hidden;
}

.container-xxxl {
  @apply max-w-[1776px] mx-auto;
}

.banner {
  position: relative;
  background-image: linear-gradient(rgba(9, 13, 23, 0.6), rgba(9, 13, 23, 0.6)),
    url("/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, transparent, rgba(9, 13, 23, 1) 100px);
}
